.page {
  margin-top: 4rem;
}
.container {
  display: flex;
  padding: 6rem 2rem 2rem 2rem;
}
.wrapperLeft,
.wrapperRight {
  width: 50%;
}
.wrapperLeft {
    margin-right: 2rem;
}
@media (max-width: 1024px) {
  .container {
    display: block;
    padding-top: 2.5rem;
  }
  .wrapperLeft,
  .wrapperRight {
    width: 100%;
  }
}
