.card {
  width: 15rem;
}

.card_section {
  position: relative;
  min-width: 10rem;
}

.badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

@media (max-width: 48rem) {
  .card {
    width: auto;
  }
  .card_section {
    width: 8rem;
  }
}
