.page {
  margin-top: 4rem;
}
.content {
  background-color: rgb(233, 233, 233);
}
.content_highlight {
  background-color: pink;
}
.cinema_item {
  border: 1px solid rgb(192, 192, 192);
}
.highlight_item {
  border: 2px solid rgb(35, 209, 0);
}